body {
	font-family: monospace;
	background-color: #eee;
	line-height: 1.2;
	padding: 0 10px;
	margin: 10px auto;
	max-width: 650px;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
}

img {
	padding: 10px 0;
	position: initial;
	max-width: 100%;
}

nav {
	margin-bottom: 10px;
}

table, td, th {
	border: 1px solid #c1c0d4;
	padding: 0.5em;
}
table {
	border-collapse: collapse;
}